﻿@{
    ViewBag.Title = "Anasayfa";
}

@section style {
}
<!-- BEGIN LEFT SIDEBAR -->
<div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
    @for (int i = 0; i < 3; i++)
    {
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img src="~/Content/assets/img/works/img4.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-8 col-sm-8">
                <h2><a href="blog_item.html">Corrupti quos dolores etquas</a></h2>
                <ul class="blog-info">
                    <li><i class="icon-calendar"></i>@DateTime.Now.ToShortDateString()</li>
                    <li><i class="icon-user"></i>Emre Bodur</li>
                    <li><i class="icon-comments"></i>17</li>
                    <li><i class="icon-pencil"></i>Genel</li>
                    <li><i class="icon-tags"></i>Metronic, Keenthemes, UI Design</li>
                </ul>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing condimentum eleifend enim a feugiat.</p>
                <a class="more" href="blog_item.html">Devamını oku <i class="icon-angle-right"></i></a>
            </div>
        </div>
        <hr class="blog-post-sep">
    }


    <div class="text-center">
        <ul class="pagination pagination-centered">
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>
<!-- END LEFT SIDEBAR -->

