﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="tr" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="tr" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Blog | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="blog projesi" name="description" />
    <meta content="Emre Bodur" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @System.Web.Optimization.Styles.Render("~/content/css")
    <link rel="shortcut icon" href="/Content/assets/img/favicon.ico" />
    @RenderSection("style", false)
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body>

    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-default navbar-static-top">
        <!-- BEGIN TOP BAR -->
        <div class="front-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="list-unstyle inline">
                            <li><i class="icon-phone topbar-info-icon top-2"></i>Telefon: <span>(1) 456 6717</span></li>
                            <li class="sep"><span>|</span></li>
                            <li><i class="icon-envelope-alt topbar-info-icon top-2"></i>Eposta: <span>info@keenthemes.com</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 topbar-social">
                        <ul class="list-unstyled inline">
                            <li>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Türkçe">
                                    <img src="~/Content/assets/img/flags/flag-tr.png" />
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="English">
                                    <img src="~/Content/assets/img/flags/flag-en.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TOP BAR -->
        <div class="container">
            <div class="navbar-header">
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN LOGO (you can use logo image instead of text)-->
                <a class="navbar-brand logo-v1" href="/Home">
                    <img src="/Content/assets/img/logo_blue.png" id="logoimg" alt="">
                </a>
                <!-- END LOGO -->
            </div>

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("SSS", "Index", "Sss")</li>
                    <li>@Html.ActionLink("Bize Ulaşın", "BizeUlasin", "Anasayfa")</li>
                </ul>
            </div>
            <!-- BEGIN TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER -->

    <!-- BEGIN BREADCRUMBS -->
    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-8 col-sm-8">
                @if (@ViewBag.Title != "Anasayfa")
                {
                    <ul class="pull-right breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="">Pages</a></li>
                        <li class="active">Blog Page</li>
                    </ul>
                }

            </div>
        </div>
    </div>
    <!-- END BREADCRUMBS -->

    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTAINER -->
        <div class="container min-hight">
            <div class="row">
                @RenderBody()
                <!-- BEGIN RIGHT SIDEBAR -->
                <div class="col-md-3 col-sm-3 blog-sidebar">
                    <!-- BEGIN RECENT NEWS -->
                    <h2>Recent News</h2>
                    <div class="recent-news margin-bottom-10">
                        <div class="row margin-bottom-10">
                            <div class="col-md-3">
                                <img src="~/Content/assets/img/people/img2-large.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-9 recent-news-inner">
                                <h3><a href="#">Letiusto gnissimos</a></h3>
                                <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-3">
                                <img src="~/Content/assets/img/people/img1-large.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-9 recent-news-inner">
                                <h3><a href="#">Deiusto anissimos</a></h3>
                                <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-md-3">
                                <img src="~/Content/assets/img/people/img3-large.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="col-md-9 recent-news-inner">
                                <h3><a href="#">Tesiusto baissimos</a></h3>
                                <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                            </div>
                        </div>
                    </div>
                    <!-- END RECENT NEWS -->

                    <!-- BEGIN BLOG TALKS -->
                    <div class="blog-talks margin-bottom-30">
                        <h2>Popular Talks</h2>
                        <div class="tab-style-1">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-1" data-toggle="tab">Multipurpose</a></li>
                                <li><a href="#tab-2" data-toggle="tab">Documented</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane row-fluid fade in active" id="tab-1">
                                    <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                                    <p><a href="#" class="read-more">Read more</a></p>
                                </div>
                                <div class="tab-pane fade" id="tab-2">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END BLOG TALKS -->

                    <!-- BEGIN BLOG PHOTOS STREAM -->
                    <div class="blog-photo-stream margin-bottom-20">
                        <h2>Photos Stream</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">
                                <img src="~/Content/assets/img/people/img5-small.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/works/img1.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/people/img4-large.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/works/img6.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/pics/img1-large.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/pics/img2-large.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/works/img3.jpg" alt=""></a></li>
                            <li><a href="#">
                                <img src="~/Content/assets/img/people/img2-large.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    <!-- END BLOG PHOTOS STREAM -->

                    <!-- BEGIN BLOG TAGS -->
                    <div class="blog-tags margin-bottom-20">
                        <h2>Tags</h2>
                        <ul>
                            <li><a href="#"><i class="icon-tags"></i>OS</a></li>
                            <li><a href="#"><i class="icon-tags"></i>Metronic</a></li>
                            <li><a href="#"><i class="icon-tags"></i>Dell</a></li>
                            <li><a href="#"><i class="icon-tags"></i>Conquer</a></li>
                            <li><a href="#"><i class="icon-tags"></i>MS</a></li>
                            <li><a href="#"><i class="icon-tags"></i>Google</a></li>
                            <li><a href="#"><i class="icon-tags"></i>Keenthemes</a></li>
                            <li><a href="#"><i class="icon-tags"></i>Twitter</a></li>
                        </ul>
                    </div>
                    <!-- END BLOG TAGS -->
                </div>
                <!-- END RIGHT SIDEBAR -->
            </div>
        </div>
        <!-- END CONTAINER -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        <span class="margin-right-10">@DateTime.Now.Year © Emre Bodur. Tüm Hakları Saklıdır.</span>
                        @*<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>*@
                    </p>
                </div>
                <div class="col-md-4">
                    <ul class="social-footer">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-skype"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-dropbox"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/Content/assets/plugins/respond.min.js"></script>  
    <![endif]-->
    @System.Web.Optimization.Scripts.Render("~/content/js")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("script", false)
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
