﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="tr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="tr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Blog - Yönetim Paneli | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="Emre Bodur" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Areas/Admin/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Areas/Admin/Content/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Areas/Admin/Content/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/css/pages/tasks.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Areas/Admin/Content/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/Areas/Admin/Content/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="/Admin/Dashboard/Index">
                <img src="~/Areas/Admin/Content/img/logo.png" alt="logo" class="img-responsive" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="~/Areas/Admin/Content/img/menu-toggler.png" alt="" />
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-close-others="true">
                        <i class="icon-warning-sign"></i>
                        <span class="badge">6</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <li>
                            <p>You have 14 new notifications</p>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;">
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-success"><i class="icon-plus"></i></span>
                                        New user registered. 
                           <span class="time">Just now</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger"><i class="icon-bolt"></i></span>
                                        Server #12 overloaded. 
                           <span class="time">15 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-warning"><i class="icon-bell"></i></span>
                                        Server #2 not responding.
                           <span class="time">22 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-info"><i class="icon-bullhorn"></i></span>
                                        Application error.
                           <span class="time">40 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger"><i class="icon-bolt"></i></span>
                                        Database overloaded 68%. 
                           <span class="time">2 hrs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger"><i class="icon-bolt"></i></span>
                                        2 user IP blocked.
                           <span class="time">5 hrs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-warning"><i class="icon-bell"></i></span>
                                        Storage Server #4 not responding.
                           <span class="time">45 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-info"><i class="icon-bullhorn"></i></span>
                                        System Error.
                           <span class="time">55 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-sm label-icon label-danger"><i class="icon-bolt"></i></span>
                                        Database overloaded 68%. 
                           <span class="time">2 hrs</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="#">See all notifications <i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN LANGUAGE DROPDOWN -->
                <li class="dropdown language">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" src="~/Areas/Admin/Content/img/flags/tr.png">
                        <span class="username">Türkçe</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">
                            <img alt="" src="~/Areas/Admin/Content/img/flags/us.png">
                            English</a></li>
                    </ul>
                </li>
                <!-- END LANGUAGE DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" src="~/Areas/Admin/Content/img/avatar1_small.jpg" />
                        <span class="username">Emre Bodur</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="extra_profile.html"><i class="icon-user"></i>Profil</a>
                        </li>
                        <li><a href="page_calendar.html"><i class="icon-calendar"></i>My Calendar</a>
                        </li>
                        <li><a href="#"><i class="icon-tasks"></i>My Tasks <span class="badge badge-success">7</span></a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i>Tam Ekran</a>
                        </li>
                        <li><a href="extra_lock.html"><i class="icon-lock"></i>Ekranı Kilitle</a>
                        </li>
                        <li><a href="/Admin/Login/Exit"><i class="icon-key"></i>Çıkış</a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu">
                <li>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler hidden-phone"></div>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                </li>
                <li>
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <form class="sidebar-search" action="extra_search.html" method="POST">
                        <div class="form-container">
                            <div class="input-box">
                                <a href="javascript:;" class="remove"></a>
                                <input type="text" placeholder="Ara..." />
                                <input type="button" class="submit" value=" " />
                            </div>
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>
                <li class="start active ">
                    <a href="~/Admin/Dashboard/Index">
                        <i class="icon-home"></i>
                        <span class="title">Başlangıç</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class="icon-file-text"></i>
                        <span class="title">Yazılar</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Tüm Yazılar</a>
                        </li>
                        <li>
                            <a href="#">Yeni Ekle</a>
                        </li>
                        <li>
                            <a href="#">Kategoriler</a>
                        </li>
                        <li>
                            <a href="#">Etiketler</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class=" icon-book"></i>
                        <span class="title">Sayfalar</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Tüm Sayfalar</a>
                        </li>
                        <li>
                            <a href="#">Yeni Ekle</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class="icon-picture"></i>
                        <span class="title">Ortam</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Kütüphane</a>
                        </li>
                        <li>
                            <a href="#">Yeni Ekle</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class="icon-group"></i>
                        <span class="title">Kullanıcılar</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Tüm Kullanıcılar</a>
                        </li>
                        <li>
                            <a href="#">Yeni Ekle</a>
                        </li>
                    </ul>
                </li>
                <li class="last">
                    <a href="javascript:;">
                        <i class="icon-cogs"></i>
                        <span class="title">Ayarlar</span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">Yönetim Paneli <small>istatistikler ve daha fazlası</small>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="/Admin/Dashboard">Yönetim Paneli</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">@ViewBag.Title</a></li>
                        <li class="pull-right">
                            <div class="dashboard-date-range tooltips" data-placement="top" data-original-title="Tarih&Saat">
                                <i class="icon-calendar"></i>
                                <span>@DateTime.Now.ToLongDateString()</span>
                            </div>
                        </li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            @RenderBody()
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            @DateTime.Now.Year &copy; Metronic by keenthemes.
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
   <script src="~/Areas/Admin/Content/plugins/respond.min.js"></script>
   <script src="~/Areas/Admin/Content/plugins/excanvas.min.js"></script> 
   <![endif]-->
    <script src="~/Areas/Admin/Content/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Areas/Admin/Content/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Areas/Admin/Content/plugins/flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Areas/Admin/Content/scripts/app.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/scripts/index.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/scripts/tasks.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init(); // initlayout and core plugins                                 
            Index.initCharts(); // init index page's custom scripts                       
            Tasks.initDashboardWidget();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
