/* here you can put your own css to customize and override the theme */

.breadcrumbs ul.userloginmenu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 0;
    position: relative;
    top: 20px;
}


.userloginmenu > li {
    display: inline-block;
    margin-left: 10px;
}

.userloginmenu li.sep {
    color: #bbb;
}
